
<form class="form11" [formGroup]="form" (submit)="save()">
  <div><br></div><h2 style="margin-left: 150px">Update</h2>
  <input type="hidden" formControlName = "id">
  <h5>__Name_____________________</h5>
  <input type="text" formControlName = "name"><div><br></div>
  <h5>__Price___________________________</h5>
  <input type="text" formControlName = "price"><div><br></div>
  <h5>__Description_________________________</h5>
  <input type="text" formControlName = "description"><div><br></div>
  <br>
  <h6>Brand
    <select style="width: 340px" formControlName = "brandId">
      <option *ngFor="let brand of listBrand" [value]="brand.id">
        {{brand.name}}
      </option>
    </select>
  </h6>

  <br>
  <button style="margin-left: 160px;background-color: goldenrod" class="col-lg-3">Sửa</button>
  <div><br></div>
</form>
<style>
  input{
    margin-left: 20px;
    width: 370px;
  }
  .form11{
    background-color: cadetblue;
    margin-left:400px;
    margin-right: 500px;
    margin-top: 30px;
    border-radius: 8px;
    border: 2px solid blue;
  }
</style>
